#inicio{
    width: 100%;
	display: flex;
	justify-content: space-evenly;
}
#fds{
	background-color: red;
	border-width: 45x;
	border-radius:50%;
	width: 100px;
	height: 100px;
	font-size: 20px;
}
#jogo{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    background-color: rgb(36, 36, 36);
}
#jogo div{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#jogo  input{
    width: 195px;
    height: 198px;
	font-size: 0px;
}
#quadrado_vitoria_jogo_velha{
    width: 800px;
    height: 55vh;
    background-color: rgb(1, 93, 7);
    position: relative;
    color: white;
    font-size: 50px;
    text-align: center;
    border-radius: 20%;
    border-width: 20px;
    border-color: rgb(108, 94, 0);
    border-style: solid;
}